.multi-item-carousel.carousel-inner .active.left {
    left: -33%;
}

.multi-item-carousel .carousel-inner.next {
    left: 33%;
}

.multi-item-carousel.carousel-inner .item.left.active {
    transform: translateX(-33%);
}

.multi-item-carousel.carousel-inner .item.right.active {
    transform: translateX(33%);
}

.multi-item-carousel .carousel-inner.item.next {
    transform: translateX(33%)
}

.multi-item-carousel .carousel-inner.item.prev {
    transform: translateX(-33%)
}

.multi-item-carousel .carousel-inner.item.right,
.multi-item-carousel .carousel-inner.item.left {
    transform: translateX(0);
}